@font-face {
  font-family: gilroy;
  src: url("fonts/Gilroy-Black.ttf");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: sans-serif;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100vw;
  height: 14vh;
}

.logo {
  width: 15%;
  font-size: 25px;
  color: white;
  z-index: 2;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 40%;
  list-style: none;
  font-weight: bold;
  z-index: 3;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.nav-links li a {
  text-decoration: none;
  color: #fdfdfd;
}

main {
  position: absolute;
  top: 0vh;
}

.home {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #141414;
}

.home-text {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0rem 2rem;
  color: white;
  margin: 0vh 5vh;
}

.home-text h1 {
  font-size: 2rem;
}

.home-text p {
  line-height: 2rem;
  margin: 4vh 0vh;
}

.home-text .download-btn {
  padding: 0.7rem 2.5rem;
  font-size: 17px;
  border: none;
  border-radius: 0.4rem;
  background: -webkit-gradient(linear, left bottom, right top, from(violet), color-stop(#0f686b), to(#25deff));
  background: linear-gradient(to right top, violet, #0f686b, #25deff);
  color: white;
}

.home-image {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 50%;
  background-repeat: no-repeat;
  background-size: 110vh;
  height: 100%;
  margin-top: 5vh;
}

.home-image img {
  width: 45%;
}

.features {
  width: 100vw;
  height: 110vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: url("../images/Background.jpg");
  background-position: center;
  background-attachment: fixed;
  position: relative;
  color: white;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.features img {
  width: 20%;
  z-index: 1;
}

.features .features-main-container {
  width: 100vw;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.features .features-cover {
  position: absolute;
  top: 0vh;
  left: 0vh;
  width: 100%;
  height: 110vh;
  background: black;
  opacity: 0.6;
  z-index: 0;
}

.features .features-head {
  font-size: 50px;
  margin-top: 30px;
  z-index: 1;
  margin: 0vh 50vh;
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 20px;
}

.features .features-container {
  width: 25vw;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1;
}

.features .features-card {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 20vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0vh 20vh;
}

.team {
  background: #141414;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
}

.team .team-head {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 5vh 8vh;
}

.team .team-head img {
  width: 15%;
}

.team .container {
  width: 100vw;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.team .card {
  width: 35vw;
  height: 27vh;
  background: #ffffff;
  border-radius: 0.5rem;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.team .card .image {
  width: 40%;
  background: #ffffff;
  width: 20vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 20vh;
  border-radius: 50%;
  -webkit-box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #dfdfdf;
          box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #dfdfdf;
}

.team .card .image img {
  width: 70%;
}

.team .card .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 70%;
}

.team .card .buttons {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.team .card .buttons .btn {
  background: #ffffff;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  -webkit-box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #dfdfdf;
          box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #dfdfdf;
  border: none;
  -webkit-transition: -webkit-box-shadow 500ms ease;
  transition: -webkit-box-shadow 500ms ease;
  transition: box-shadow 500ms ease;
  transition: box-shadow 500ms ease, -webkit-box-shadow 500ms ease;
}

.team .card .buttons .btn i {
  font-size: 18px;
}

.team .card .buttons .btn a {
  text-decoration: none;
}

.team .card .buttons .btn:hover {
  -webkit-box-shadow: inset -3px -3px 7px #ffffff, inset 3px 3px 5px #dfdfdf;
          box-shadow: inset -3px -3px 7px #ffffff, inset 3px 3px 5px #dfdfdf;
}

.hamburger {
  position: absolute;
  top: 3vh;
  right: 3vh;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: white;
  z-index: 6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.5rem 0rem;
  display: none;
}

.hamburger .line1,
.hamburger .line2,
.hamburger .line3 {
  width: 60%;
  height: 3px;
  background: #020202;
}

@media only screen and (max-width: 700px) {
  .nav-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    height: 100%;
    background: white;
    width: 50%;
    position: absolute;
    top: 0vh;
    right: 0vh;
    opacity: 0;
    pointer-events: none;
  }
  .nav-links li a {
    color: black;
  }
  .logo {
    position: absolute;
    top: 3vh;
    left: 2vh;
    width: 150px;
  }
  .home {
    height: 120vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home .home-text {
    margin: 15vh 0vh;
    width: 95vw;
  }
  .home .home-image img {
    width: 90%;
  }
  .features {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  .features .features-head {
    margin: 0vh 0vh;
  }
  .features .features-cover {
    height: 190vh;
display: none;
  }
  .features .features-main-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 5vh 0vh;
    height: auto;
  }
  .features .features-main-container img {
    width: 50%;
  }
  .features .features-main-container .features-card {
    width: 80vw;
    margin: 4vh 0vh;
  }
  .features .features-main-container .features-container {
    height: auto;
    padding: 1rem 0rem;
  }
  .team {
    height: auto;
z-index: 8;
  }
  .team .card {
    width: 90vw;
    margin: 4vh 0vh;
    padding: 0rem 0.5rem;
z-index: 8;
  }
  .team .card .image {
    width: 18vh;
    height: 15vh;
  }
  .team .card .about {
    width: 80%;
    margin: 0vh 2vh;
  }
  .team .card .about h4 {
    font-size: 12px;
  }
  .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-active {
    opacity: 1;
    pointer-events: all;
  }
}
/*# sourceMappingURL=main.css.map */
