@font-face {
  font-family: gilroy;
  src: url("../fonts/Gilroy-Black.ttf");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: gilroy;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100vw;
  height: 14vh;
}

.slider {
  position: fixed;
  top: 0vh;
  left: 0vh;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: black;
  -webkit-animation: slider 1s ease-in;
          animation: slider 1s ease-in;
  -webkit-animation-delay: 700ms;
          animation-delay: 700ms;
  pointer-events: none;
  z-index: 3;
}

.slider .slider-text {
  height: 15vh;
  overflow: hidden;
}

.logo {
  width: 15%;
  font-size: 25px;
  color: white;
  position: absolute;
  z-index: 1;
  top: 5vh;
  left: 15vh;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 60%;
  font-size: 20px;
  list-style: none;
  font-weight: bold;
  z-index: 1;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  opacity: 0;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
}

.nav-links li a {
  text-decoration: none;
  color: #fdfdfd;
}

main {
  position: absolute;
  top: 0vh;
}

.home {
  width: 100vw;
  height: auto;
  padding: 15vh 0vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #141414;
  position: relative;
}

.home .badge {
  position: absolute;
  top: 30%;
  right: 0vh;
  width: 45vw;
  height: 55vh;
  border-radius: 5rem;
  background: #5c00d1;
  z-index: 0;
  margin-right: -10vh;
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
  opacity: 0;
}

.home-text {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0rem 2rem;
  color: white;
  margin: 0vh 5vh;
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
  opacity: 0;
}

.home-text h1 {
  font-size: 2.5rem;
}

.home-text p {
  line-height: 2.2rem;
  font-size: 1.1rem;
  margin: 4vh 0vh;
}

.home-text .download-btn {
  padding: 0.7rem 2.5rem;
  font-size: 17px;
  border: none;
  border-radius: 0.4rem;
  background: -webkit-gradient(linear, left bottom, right top, from(#80127e), color-stop(#3629ee), to(#00d8ff));
  background: linear-gradient(to right top, #80127e, #3629ee, #00d8ff);
  color: white;
}

.home-image {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 50%;
  background-repeat: no-repeat;
  background-size: 110vh;
  height: 100%;
  margin-top: 5vh;
}

.home-image img {
  width: 45%;
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
  opacity: 0;
}

.nav-overlay {
  position: fixed;
  top: 0vh;
  left: 0vh;
  -webkit-clip-path: circle(0px at 100% 0%);
          clip-path: circle(0px at 100% 0%);
  height: 100vh;
  width: 100vw;
  background: #141414;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.nav-overlay .overlay-badge {
  position: absolute;
  top: 0vh;
  right: 0vh;
  width: 10vw;
  height: 100%;
  background: #5c00d1;
}

.nav-overlay .overlay-left {
  width: 60vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.nav-overlay .overlay-left .overlay-about {
  width: 100%;
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.nav-overlay .overlay-left .overlay-about h1 {
  font-size: 5rem;
  color: white;
}

.nav-overlay .overlay-left .overlay-about .overlay-buttons {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.nav-overlay .overlay-left .overlay-about .overlay-buttons button {
  padding: 0.6rem 2rem;
  background: #5c00d1;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  color: white;
}

.nav-overlay .overlay-left .overlay-maintainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 20vh;
  width: 100%;
}

.nav-overlay .overlay-left .overlay-maintainer h1 {
  font-size: 2.5rem;
  color: white;
}

.nav-overlay .overlay-left .overlay-maintainer button {
  padding: 0.6rem 2rem;
  background: #5c00d1;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  color: white;
}

.nav-overlay .overlay-left .overlay-logo {
  width: 40%;
  color: white;
}

.nav-overlay .overlay-right {
  width: 40vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nav-overlay .overlay-right .overlay-nav {
  height: 45vh;
  font-size: 1.5rem;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: white;
}

.nav-overlay .overlay-right .overlay-nav li a {
  text-decoration: none;
  color: white;
}

.hamburger {
  position: fixed;
  top: 5vh;
  right: 15vh;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #5c00d1;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.5rem 0rem;
}

.hamburger .line1,
.hamburger .line2,
.hamburger .line3 {
  width: 55%;
  height: 3px;
  background: white;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav-active {
  -webkit-clip-path: circle(1200px);
          clip-path: circle(1200px);
}

.hamburger-active .line2 {
  opacity: 0;
}

.hamburger-active .line1 {
  -webkit-transform: rotate(-45deg) translate(-4px, 6px);
          transform: rotate(-45deg) translate(-4px, 6px);
}

.hamburger-active .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -7px);
          transform: rotate(45deg) translate(-5px, -7px);
}

.features {
  width: 100vw;
  height: 110vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: url("../images/Background.jpg");
  background-position: center;
  background-attachment: fixed;
  position: relative;
  color: white;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.features .features-main-container {
  width: 100vw;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.features .features-main-container .swiper {
  width: 25%;
}

.features .features-cover {
  position: absolute;
  top: 0vh;
  left: 0vh;
  width: 100%;
  height: 110vh;
  background: black;
  opacity: 0.6;
  z-index: 0;
}

.features .features-head {
  font-size: 50px;
  margin-top: 30px;
  z-index: 1;
  margin: 0vh 50vh;
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 20px;
}

.features .features-container {
  width: 25vw;
  height: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1;
}

.features .features-card {
  width: 24vw;
  min-height: 20vh;
  /* padding: 2rem 0rem; */
  border-radius: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: -webkit-gradient(linear, left top, right bottom, from(#cccccc70), to(#e6e6e626));
  background: linear-gradient(to right bottom, #cccccc70, #e6e6e626);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  color: #dbdbdb;
  position: relative;
  padding: 2rem 1rem;
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
}

.features .features-card:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.features .features-card h1 {
  font-size: 27px;
}

.features .features-card h3 {
  font-size: 20px;
}

.features .features-card div {
  position: absolute;
  top: -2vh;
  left: 1.5vh;
}

.team {
  background: #141414;
  width: 100vw;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
}

.team .team-head {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 5vh 8vh;
}

.team .team-head img {
  width: 15%;
}

.team .container {
  width: 100vw;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.team .card {
  width: 30%;
  height: 15vh;
  background: #ffffff;
  border-radius: 0.5rem;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 5vh 5vh;
  padding: 5rem 0rem;
}

.team .card .image {
  width: 40%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 20vh;
  border-radius: 50%;
}

.team .card .image img {
  width: 50%;
  border-radius: 50%;
}

.team .card .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 15vh;
  width: 60%;
}

.team .card .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team .card .buttons .btn {
  background: #ffffff;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: none;
  margin-right: 15px;
  -webkit-transition: -webkit-box-shadow 500ms ease;
  transition: -webkit-box-shadow 500ms ease;
  transition: box-shadow 500ms ease;
  transition: box-shadow 500ms ease, -webkit-box-shadow 500ms ease;
}

.team .card .buttons .btn i {
  font-size: 20px;
}

.team .card .buttons .btn a {
  text-decoration: none;
  color: black;
}

footer {
  width: 100vw;
  height: auto;
  background: #2d2d2d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: gray;
  font-size: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer h1 {
  font-weight: 200;
}

footer .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100vw;
  height: auto;
  padding: 0rem 3rem;
}

footer .footer-container ul {
  list-style: none;
}

footer .footer-container ul li a {
  text-decoration: none;
  color: gray;
  font-size: 1.2rem;
}

@media screen and (max-width: 950px) {
  .team {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  .team .card {
    width: 60%;
    margin: 5vh 0vh;
  }
  .image img {
    width: 20vh !important;
  }
}

@media only screen and (max-width: 700px) {
  .badge {
    display: none;
  }
  .nav-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    height: 100%;
    background: transparent;
    width: 100%;
    position: fixed;
    top: 0vh;
    right: 0vh;
    -webkit-clip-path: circle(10px at 90% 5%);
            clip-path: circle(10px at 90% 5%);
    -webkit-transition: all 600ms ease;
    transition: all 600ms ease;
  }
  .nav-links li {
    font-size: 20px;
    opacity: 1;
  }
  .nav-links li a {
    color: black;
  }
  .logo {
    position: absolute;
    top: 3vh;
    left: 2vh;
    width: 150px;
  }
  .home {
    height: auto;
    padding: 7vh 0vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home .home-text {
    margin-top: 15vh;
    width: 95vw;
  }
  .home .home-image img {
    width: 100%;
  }
  .features {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  .features .embla {
    width: 70%;
  }
  .features .embla .embla__slide {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 100%;
  }
  .features .features-head {
    margin: 0vh 0vh;
  }
  .features .features-cover {
    display: none;
  }
  .features .features-main-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 5vh 0vh;
    height: auto;
  }
  .features .features-main-container img {
    width: 50%;
  }
  .features .features-main-container .features-card {
    width: 80vw;
    margin: 4vh 0vh;
  }
  .features .features-main-container .features-container {
    height: auto;
    padding: 1rem 0rem;
  }
  .team {
    height: auto;
  }
  .team .card {
    width: 85vw;
    margin: 4vh 0vh;
    padding: 0rem 0.5rem;
  }
  .team .card .image {
    width: 18vh;
    height: 15vh;
  }
  .team .card .image img {
    width: 70% !important;
  }
  .team .card .about {
    width: 80%;
    margin: 0vh 2vh;
  }
  .team .card .about h4 {
    font-size: 12px;
  }
  .hamburger {
    top: 3vh;
    right: 3vh;
  }
  .nav-overlay {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: hidden;
  }
  .nav-overlay .overlay-left {
    padding: 1rem 0rem;
    height: 40%;
  }
  .nav-overlay .overlay-left img {
    width: 60% !important;
  }
  .nav-overlay .overlay-left .overlay-about h1 {
    font-size: 2rem;
  }
  .nav-overlay .overlay-left .overlay-about .overlay-buttons {
    width: 50vw;
  }
  .nav-overlay .overlay-left .overlay-about button {
    display: -ms-grid;
    display: grid;
    place-items: center;
    place-content: center;
    padding: 0rem 0rem !important;
    width: 35px;
    height: 35px;
    border-radius: 50% !important;
  }
  .nav-overlay .overlay-left .overlay-about button #btn-text {
    display: none;
  }
  .nav-overlay .overlay-left .overlay-maintainer {
    width: 100%;
  }
  .nav-overlay .overlay-left .overlay-maintainer h1 {
    line-height: 2rem;
    font-size: 1.1rem;
  }
  .nav-overlay .overlay-left .overlay-maintainer button {
    padding: 0.5rem 1.5rem;
  }
  .nav-overlay .overlay-badge {
    width: 11vw;
  }
  .nav-overlay .overlay-right {
    height: 60%;
  }
  li.fade {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  footer {
    height: auto;
  }
  footer h1 {
    font-size: 2.3rem !important;
  }
}

@-webkit-keyframes svg1 {
  from {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  to {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
}

@keyframes svg1 {
  from {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  to {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
}
/*# sourceMappingURL=main.css.map */